<h1>Pages#allocation_report</h1>

<table>
  <thead>
    <tr>
      <th>Preliminary Targeted Exposure</th>  
      <th>Lender</th>  
      <th>Account #</th>  
      <th>Account Executive</th>  
      <th>Current Allocation</th>  
      <th>Current Exposure</th>  
      <th>New Allocation</th>  
      <th>New Exposure</th>  
      <th>Total Position</th>  
      <th>% Holing</th>  
      <th>Remainig Capacity</th>  
    </tr>
  </thead>
  <tfoot>
    <td>[col total]</td>
    <td colspan="3">TOTALS</td>
    <td>[col total]</td>
    <td>[tcalloc/ttexpose]</td>
    <td>[col total]</td>
    <td></td>
    <td>[col total]</td>
    <td>[col total(as %)]</td>
    <td>[col total]</td>
  </tfoot>
  <tbody>
    
  </tbody>
</table>
