<h1>Active deals</h1>
<%= link_to 'New Deal', new_deal_path %>
<%= render(
  partial: "shared/object_list",
  :locals => {:objects => @deals.active, :parent=>nil}) %> 

<h1>Inactive deals</h1>

<%= render(
  partial: "shared/object_list",
  :locals => {:objects => @deals.inactive, :parent=>nil}) %> 
