<h1>Listing agreements for <%=@target.title if @target%></h1>
<%= render(
  partial: "shared/object_list",
  :locals => {:objects => @agreements, :parent=>@target}) %> 


<br>
<% if @target%>
  <%= link_to 'New Agreement', new_target_agreement_path(@target) %>
  <%end%>
